.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.no-products-found {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  margin-top: 50px;
}
